<mat-grid-list cols="8">
    <mat-grid-tile [colspan]="2">
      <img src="../assets/spotify-logo.png" width="100" height="100">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="4">
      <h1>Party Cue</h1>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <img src="../assets/spotify-logo.png" width="100" height="100">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
  
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button color="accent" routerLink="/master"> Master View</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
  
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1">
      <button mat-raised-button color="accent" routerLink="/invited"> Invite View</button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
  
    </mat-grid-tile>
  </mat-grid-list>
  <router-outlet></router-outlet>